body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

button {
    color: white;
    background-color: rgb(43, 7, 69);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(60, 10, 90);
}

input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

h2 {
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}